/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8b3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');

}
@mixin body-font-regular {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400; 
}

//@mixin body-font-bold {
//    font-family: 'Poiret One';
//    font-style: normal;
//    font-weight: 400; 
//}